<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{cat + ' seeker'}}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/creative.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/agency.css" type="text/css"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Home - Minimalist Lifestyle</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Seek again!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#category">Category</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>{{cat}}</h1>
                <hr>
                    <div class="header-content-inner-2">
                    <p><b>{{msg}}Enter a {{cat.lower()}} image (w/ white background) URL here:</b></p>
                    </div>
                    <div style="color:Black">
                        <form action={{form_action}} method='POST' >
                            <input type="text" name="image_url" size="60" />
                            <div style="margin-bottom:15px">
                            </div>
                            <div class="header-content-inner-2">
                                <p><b>And/or the description here:</b></p>
                            </div>
                                <input type="text" name="description" size="60" />
                            <div style="margin-bottom:10px">
                            </div>
                            <div class="header-content-inner-2">
                                <p><b><span style="font-size:14px"> Wanna add a price limit? Sure! Enter here:   $</b></span>
                                   <span style="color:Black;font-size:14px">
                                    <input type="text" name="price_limit" size="4" /></span>
                                    <input type="submit" class="btn btn-primary btn-xl-2 page-scroll"/>
                                </p>
                                
                            </div>
                        </form>  
                    </div>            
            </div>
        </div>
    </header>

    <!-- Product Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">BOOM!!!</h2>
                    <h3 class="section-subheading text-muted">Here are the similar {{cat}} we found for you!</h3>
                </div>
            </div>
            <div style="margin-bottom:15px">
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[0].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[0].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[0].url}}>
                        <h4>{{df.iloc[0].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[0].price}}</p></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[1].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[1].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[1].url}}>
                        <h4>{{df.iloc[1].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[1].price}}</p></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[2].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[2].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[2].url}}>
                        <h4>{{df.iloc[2].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[2].price}}</p></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[3].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[3].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[3].url}}>
                        <h4>{{df.iloc[3].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[3].price}}</p></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[4].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[4].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[4].url}}>
                        <h4>{{df.iloc[4].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[4].price}}</p></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[5].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[5].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[5].url}}>
                        <h4>{{df.iloc[5].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[5].price}}</p></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[6].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[6].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[6].url}}>
                        <h4>{{df.iloc[6].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[6].price}}</p></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href={{df.iloc[7].url}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src={{base_path + df.iloc[7].path}} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <a href={{df.iloc[7].url}}>
                        <h4>{{df.iloc[7].title}}</h4>
                        <p class="text-muted">{{'$' + df.iloc[7].price}}</p></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div style="margin-top:20px">
                    </div>
                    <a href="#page-top" class="btn btn-primary btn-xl-2 page-scroll">Seek again</a>
                    <a href="/#category" class="btn btn-primary btn-xl-2 page-scroll">Pick another category</a>
                </div>
            </div>
        </div>
        
    </section>




    <section id="contact" style="background:#F0F0F0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Lili</h2>
                    <hr class="primary">
                    <p>Hey! This is Lili Yao. Furniture Seeker is my capstone project for the Galvanize Data Science Immersive Program.</p>
                    <p>Feel free to contact me with any feedback and questions!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">lilytuna@gmail.com</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://github.com/liliyl/furniture">github.com/liliyl/</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Furniture Seeker</h2>
                        <div style="margin-bottom:15px">
                        </div>
                    <p class="text-muted">Find a furniture you love online but out of your budget?</p>
                    <p class="text-muted">No worries! Furniture Seeker is here to help you find similar but much more wallet-friendly ones!</p> 
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-o-up wow bounceIn text-primary"></i>
                        <h3>Pick a Category</h3>
                        <p class="text-muted">Pick one from the 8 furniture categories. These categories should cover a fully functional home sweet home with a minimalist lifestyle.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-file-image-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Image and/or Description</h3>
                        <p class="text-muted">Copy and paste the image URL and/or description from the product page of the furniture you like. For it to work the best, the image is preferred to have a white background.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-dollar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Price limit? Sure!</h3>
                        <p class="text-muted">You can also enter a price limit if you wish.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Submit and Enjoy</h3>
                        <p class="text-muted">Just hit "submit" and have fun shopping without breaking your wallet!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div style="margin-top:60px">
                    <hr class="primary">
                </div>
                <div class="col-lg-12 text-center">
                    <p class="text-muted">Copyright © FurnitureSeeker.info 2015</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/jquery.fittext.js"></script>
    <script src="../static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/creative.js"></script>

    <!-- Custom Theme JavaScript 
    <script src="../staticjs/agency.js"></script> -->

</body>

</html>
